extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  form(action='/',method='post', id="search")

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='ITEMNMBR1') ITEM NUMBER
           input(id='ITEMNMBR1',type='text',value='',placeholder='',name='ITEMNMBR1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='ITEMDESC1') ITEM NAME
           input(id='ITEMDESC1',type='text',value='',placeholder='',name='ITEMDESC1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='USCATVLS11') SIZE
           input(id='USCATVLS11',type='text',value='',placeholder='',name='USCATVLS11')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='EQUOMQTY1') CQTY
           input(id='EQUOMQTY1',type='text',value='',placeholder='',name='EQUOMQTY1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='QOO1') QOH
           input(id='QOO1',type='text',value='',placeholder='',name='QOO1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='WH11') WH1
           input(id='WH11',type='text',value='',placeholder='',name='WH11')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='WH21') WH2
           input(id='WH21',type='text',value='',placeholder='',name='WH21')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='WH31') WH3
           input(id='WH31',type='text',value='',placeholder='',name='WH31')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='FF1') FF
           input(id='FF1',type='text',value='',placeholder='',name='FF1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='BOT1') BOT
           input(id='BOT1',type='text',value='',placeholder='',name='BOT1')

    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='CaseBot1') BOT/CASE
           input(id='CaseBot1',type='text',value='',placeholder='',name='CaseBot1')

    div(data-role='fieldcontain')   
      input(type='submit', id='submit', value='Find Inventory Item',data-transition='fade', data-theme='c')

    div
      table(style="width:100%", id="results")
        tr(id="header")
          td ITEM NUMBER
          td ITEM NAME
          td SIZE
          td CQTY
          td QOH
          td WH1
          td WH2
          td WH3
          td FF
          td BOT
          td BOT/CASE
        tr
      table